.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}

.slide.one {
  background-color: #0A97EB;
}

.slide.two {
  background-color: #00B6F2;
}

.slide.three {
  background-color: #00D0DC;
}
