:root {
  --full-vw: calc(100vw - var(--sbw));
  --full-vh: calc(var(--vh, 1vh) * 100);

  --half-vw: calc((100vw - var(--sbw)) / 2);
  --half-vh: calc((var(--vh, 1vh) * 100) / 2);

  --one-vw: calc((100vw - var(--sbw)) / 100);
  --one-vh: var(--vh, 1vh);
}
