.slide {
  width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}

.slide.one {
  background-color: #0A97EB;
  width: 500px;
}

.slide.two {
  background-color: #00B6F2;
  width: 1200px;
}

.slide.three {
  background-color: #00D0DC;
  width: 800px;
}

.slide.four {
  background-color: #008E9B;
  width: 600px;
}
