.menuModal {
  position: relative;
  width: 500px;
  background-color: #eee;
  border-radius: 16px;
  padding: 0 30px 40px 30px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.closeButton {
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin: -7px -9px;
}

.closeButton svg {
  width: 100% !important;
  height: 100% !important;
}

.title {
  font-size: 26px;
  color: #000;
  font-weight: 600;
}

.menuItems {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
  padding: 3px 0;
  width: max-content;
  transition: color 0.2s;
}

@media (hover: hover) {
  .menuItem:hover {
    text-decoration: underline;
    color: #000;
  }
}
